* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}